@model IEnumerable<Campeonato.Models.Resultado>

@{
    ViewData["Title"] = "Index";
   Dictionary<string, int> parTimePontos = new();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadePontos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @ViewData["SomaPontos"];
        @Model.GroupBy(item => item.IdEquipe);
        @Model.GroupBy(item => item.IdEquipe).SelectMany(grupo => grupo).ToList();
        @Model.GroupBy(item => item.IdEquipe).SelectMany(grupo => grupo).ToList();
        @foreach (var item in Model)
        {
            
            parTimePontos.Add(item.IdEquipeNavigation.NomeEquipe, +item.QuantidadePontos);
        }

        @foreach (var tuple in parTimePontos){
            <tr>
                <td>
                    @tuple
                </td>
            </tr>
        }

    </tbody>
</table>
