@model AeroportoDatabaseFirst.Models.Voo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAeronaveNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAeronaveNavigation.IdAeronave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAeroportoDestinoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAeroportoDestinoNavigation.IdAeroporto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAeroportoSaidaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAeroportoSaidaNavigation.IdAeroporto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVoo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
