@model IEnumerable<Campeonato.Models.Torneio>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Torneios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data de abertura
            </th>
            <th>
                Data de encerramento
            </th>
            <th>
                Esporte
            </th>
            <th>
                Tipo de competição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTorneio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModalidadeNavigation.NomeModalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoTorneioNavigation.NomeTipo)
            </td>
            <td>
                <a class="btn btn-primary py-1 px-2 me-2" asp-action="Edit" asp-route-id="@item.IdTorneio">Editar</a>
                <a class="btn btn-primary py-1 px-2 me-2"  asp-action="Details" asp-route-id="@item.IdTorneio">Detalhar</a>
                <a class="btn btn-primary py-1 px-2" asp-action="Delete" asp-route-id="@item.IdTorneio">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
